html {
    background-color: #333333;
}

body {
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    color: snow;
}

#weather-search-params {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-block {
    border: 2px solid snow;
    background: #0F4C75;
    margin-left: 40vw;
    margin-right: 40vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}

small {
    margin-bottom: 10px;
}

#checkButton {
    margin: 10px;
}