* {
    box-sizing: border-box;
}

body {
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    background: #333333;
    color: snow;
}

.top-container {
    display: flex;
    justify-content: center;
}

#map, #puzzle {
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 10px inset white;
    font-size: 0;
}

.placeholder {
    display: inline-block;
    position: relative;
}

.placeholder.dragover {
    background-color: #5d5d5d;
}

.middle-container {
    display: flex;
    justify-content: center;
}

button.mapBtn {
    background-color: snow;
    border: 1px solid snow;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    text-align: center;
    transition: 0.2s;
}

button.mapBtn:hover {
    background-color: dimgray;
    color: snow;
}

.bot-container {
    display: flex;
    justify-content: center;
}

#elements {
    width: 60%;
    height: 285px;
    margin: 10px;
    padding: 10px;
    border: 10px inset white;
    /*justify-content: center;*/
    text-align: left;
}

#elements img {
    font-size: 0;
    padding: 5px;
    /*margin: auto;*/
}

#copyright {
    text-align: center;
    margin: 10px;
}

@media only screen and (max-width: 1682px) {
    #elements { height: 410px; }
}

@media only screen and (max-width: 1282px) {
    #elements { height: 530px; }
}