html {
    background-color: #333333;
}

body {
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    color: snow;
}

#weather-search-params {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-block {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border: 2px solid snow;
    background: #111111;
    padding-top: 3vw;
    padding-bottom: 3vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}

small {
    margin-bottom: 10px;
}

#checkButton {
    margin: 10px;
}

@media only screen and (max-width: 800px) {
    .weather-block { width: 70%; margin-left: 15%; margin-right: 15%; }
}